*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  border-color: var(--color-border);
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-family);
}

h1 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}
